@import "@styles/lib/positioning.scss";
@import "@styles/theme/colors.scss";
@import "@styles/lib/behaviors";

.header {
  @include selectable;
  @include row-centered-vertical;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 14px 24px;
}

.title {
  width: 236px;
  align-items: center;
  display: grid;
  grid-template-areas: "back title" "back sub";
  gap: 2px 32px;
  grid-template-columns: auto 1fr;
  border-inline-end: 1px solid $color-borders;


  button {
    grid-area: back;
  }

  h1 {
    @include selectable;

    margin-top: 3.5px;
    display: inline-block;
    grid-area: title;
    font-weight: 600;
    font-size: 14px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: fit-content;
  }

  p {
    margin-bottom: 3.5px;
    height: fit-content;
    display: inline-block;
    grid-area: sub;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #6c6c6c;
  }
}