@import "@styles/lib/positioning.scss";
@import "@styles/theme/colors.scss";

.iconButton {
  @include centered;
  width: 40px !important;
  height: 40px;
  background-color: $color-secondary;
  fill: $color-on-secondary;
  border: none;
  outline: transparent;
  border-radius: 10px;

  svg {
    transition: all 80ms ease-in;
  }

  &.selection {
    fill: $color-on-background-unfocused;
    background: transparent;
  }

  &:hover {
    background-color: $color-secondary;
  }

  &:hover svg, {
    fill: $color-primary;
    scale: 1.1;
  }

  &.selection:hover svg {
    fill: $color-on-background;
  }

  &.selected {
    background-color: $color-secondary;
    fill: $color-primary;
  }

  &.selected:hover svg {
    scale: 1;
    fill: $color-primary;
  }
}


.iconGroup {
  @include column-centered-horizontal;
  @include no-bullets;
  gap: 8px;
}