@import "@styles/lib/positioning.scss";

.container ul {
  @include no-bullets;
  margin-inline: -16px;
}

.container li {
  padding-block: 16px 24px;
  border-bottom: 1px solid var(--color-borders);
  padding-inline: 16px;
  @include column-centered-horizontal;
  color: #777777;
  font-weight: 500;
  font-size: 14px;
  gap: 16px;
}

.container ul li:last-child {
  border-bottom: none;
}

