@use "theme" as *;
@use "lib" as *;

* {
  margin: 0;
  padding: 0;
}


html {
  background: $color-background;
  color: $color-on-background;

  --font-mono: 'Montserrat', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  font-family: var(--font-mono);
}
