@use "colors" as *;

:export {
  primary: $color-primary;
  onPrimary: $color-on-primary;
  background: $color-background;
  onBackground: $color-on-background;
  onBackgroundUnFocused: $color-on-background-unfocused;
  surfaceVariant: $color-surface-variant;
  onSurfaceVariant: $color-on-surface-variant;
  surface: $color-surface;
  onSurface: $color-on-surface;
  borders: $color-borders;
  secondary: $color-secondary;
  onSecondary: $color-on-secondary;
}